<!-- main_app/templates/main_app/server1.html -->
{% extends 'main_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Subir Imagen (server1)</title>
</head>
<body>
    <h1>Subir Imagen a Server1</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="archivo">Seleccionar archivo (hasta 2GB):</label>
        <input type="file" name="archivo" id="archivo">
        <button type="submit">Enviar a Server1</button>
    </form>
</body>
</html>

{% endblock %}
